{% extends 'home/base.html' %}
{% block content %}
    {% for image in images %}
        <div class="container mt-5 d-flex justify-content-center align-items-center">
            <div class="card col-lg-6">  
                <div class="card-header">
                    {{image.product}}
                </div>
                <div class="card-body">
                    <img src="{{image.image.url}}" class="img-fluid" alt="image">
                </div>
                <div class="card-footer">
                    {{image.description}}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}