{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Datos del Proveedor</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label>Nombre</label>
            {{form.name}}
        </div>
        <div class="form-group mt-3">
            <label>Dirección</label>
            {{form.address}}
        </div>
        <div class="form-group mt-3">
            <label>Teléfono</label>
            {{form.phone}}
        </div>
        <button type="submit" class="btn btn-primary ml-3 mt-3">Guardar proveedor</button>
    </form>
</div>
{% endblock %}