{% extends 'home/base.html' %}

{% block content %}
    <h2>Registrarse</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <label for="">Nombre de usuario</label>
            {{form.username}}

            {% if form.username.errors %}<!-- Si hay un error en el nombre de usuario, mostrará el mensaje de error -->
                <p class="text-danger">{{form.username.errors}}</p>
            {% endif %}
        </div>
        <div class="row">
            <label for="">Email</label>
            {{form.email}}
            
            {% if form.email.errors %}
                <p>{{form.email.errors}}</p>
            {% endif %}
        </div>
        <div class="row">
            <label for="">Contraseña</label>
            {{form.password1}}
            
            {% if form.password1.errors %}
                <p>{{form.password1.errors}}</p>
            {% endif %}
        </div>
        <div class="row">
            <label for="">Repetir contraseña</label>
            {{form.password2}}
            
            {% if form.password2.errors %}
                <p>{{form.password2.errors}}</p>
            {% endif %}
        </div>
        <div class="row">
            <label for="">Nombre</label>
            {{form.first_name}}
            <label for="">Apellido</label>
            {{form.last_name}}
        </div>

        <div class="d-flex justify-content-center aling-items-center m-3">
            <button type="submit" class="btn btn-success w-100">Registrarme</button>
        </div>
    </form>
{% endblock %}